.App {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  font-size: 1.5rem;
}

.p-3 {
  background-color: #fff;
}

/* form */
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 50vw;
}

form .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

form .item .input-item {
  padding: 12px 14px;
  font-size: 1.2rem;
}

form input[type="submit"] {
  padding: 12px 14px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  background-color: orangered;
  color: #fff;
  cursor: pointer;
}

div span.link {
  color: green;
  cursor: pointer;
}
